@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">

    <br />

    <br />

    <h2 style="color: purple">@ViewData["Title"]</h2>

    <br />

    <br />

    <h3>Camiikebir Mah. Erol Olgaçlı Cad.No:24 39300 </h3>

    <h3>Pınarhisar KIRKLARELİ</h3>

    <h3>E-posta adresimiz:</h3>

    <h3><a href="mailto:belediye@pinarhisar.bel.tr">belediye@pinarhisar.bel.tr</a></h3>

</div>